<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빵지순례 - 전국 빵집 탐방 가이드</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/error.css">
    <link rel="stylesheet" href="/css/home/home.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 헤더 및 네비게이션 -->
    <header th:replace="~{fragments/header :: HeaderFragment}"></header>
        
   

    <!-- 네비게이션 메뉴 -->
    <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
       
    <div class="body-container">
        <div>
            <h1 class="error-name" th:text="${status}"></h1>
            <p class="error-message" th:text="${message}"></p>
        </div>
    </div>

    

    <!-- 푸터 -->
    <footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
        
    

    
</body>
</html>