<!DOCTYPE html>
<html lang="ko">
<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/common/error.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- 헤더 및 네비게이션 -->
    <header th:replace="~{fragments/header :: HeaderFragment}"></header>
        
   

    <!-- 네비게이션 메뉴 -->
    <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
       
    <div class="body-container">
        <div>
            <h1 class="error-name" th:text="${status}"></h1>
            <p class="error-message" th:text="${message}"></p>
        </div>
    </div>

    

    <!-- 푸터 -->
    <footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
        
    

    
</body>
</html>