<!DOCTYPE html>
<html lang="ko">

<head>
<head th:replace="~{fragments/head :: HeadFragment}"></head>
<link rel="stylesheet" th:href="@{/css/admin/admin.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>
	<header th:replace="~{fragments/header :: HeaderFragment}"></header>
	<nav th:replace="~{fragments/nav :: NavFragment}"></nav>
	<div class="dashboard wrapper">
		<div class="tabs">
			<button class="tab" onclick="showTab('traffic')">트래픽
				모니터링</button>
			<button class="tab" onclick="showTab('bakery')">베이커리 관리</button>
			<button class="tab" onclick="showTab('user')">사용자 관리</button>
			<button class="tab" onclick="showTab('accept')">등록 관리</button>
			<button class="tab" onclick="showTab('category')">카테고리 관리</button>
			<button class="tab">
				<a href="/admin/inquiry/list">문의 리스트</a>
				<button class="tab">
					<a href="/admin/order/list">주문 리스트</a>
					<button class="tab" onclick="showTab('report')">신고관리</button>
		</div>

		<div id="traffic" class="tab-content bg-brown active-content">
			<div class="stats-container">
				<div class="stat-card">
					<div class="stat-title">일일 방문자</div>
					<div class="stat-value" th:text="${today}"></div>
				</div>
				<div class="stat-card">
					<div class="stat-title">총 주문</div>
					<div class="stat-value" th:text=${order}></div>
				</div>
				<div class="stat-card">
					<div class="stat-title">신규 회원</div>
					<div class="stat-value" th:text=${user}></div>
				</div>
			</div>

			<div class="chart-container">
				<div class="section-title">월별 주문량</div>
				<canvas id="orderChart" class="chart"></canvas>
			</div>

			<div class="lists-container">
				<div class="list-section">
					<div class="section-title">
						최근 주문
						<div class="inline" onclick="showTab('bakery')">more</div>
					</div>

					<div class="list-item" th:each="order : ${newOrder}">
						<div class="list-item-title" th:text="${order.recipientsName}"></div>
						<div class="list-item-subtitle" th:text="${order.menuList}"></div>
						<span class="status-badge status" th:text="${order.pickupStatus}"
							th:classappend="${order.pickupStatus == '대기중' ? 'status-pending' : 
						                     (order.pickupStatus == '승인' ? 'status-complete' : 
						                     (order.pickupStatus == '거절' ? 'status-denied' : 
						                     (order.pickupStatus == '완료' ? 'status-done' : '')))}"></span>
					</div>
				</div>

				<div class="list-section">
					<div class="section-title">
						신고 내역
						<div class="inline" onclick="showTab('report')">more</div>
					</div>
					<div class="list-item" th:each="report : ${report}">
						<div class="list-item-title" th:text="${report.reportDetail}">상품하자</div>
						<div class="list-item-subtitle" th:text="${report.userId}"></div>
						<span class="status-badge status" th:text="${report.result}"
							th:classappend="${report.result == '답변대기' ? 'status-pending' : 
											 (report.result == '답변완료' ? 'status-complete' :'')}"></span>
					</div>
				</div>

				<div class="list-section">
					<div class="section-title">
						1:1 문의
						<div class="inline">more</div>
					</div>
					<div class="list-item" th:each="inquiries : ${inquiries}">
						<div class="list-item-title" th:text="${inquiries.inquiryTitle}"></div>
						<div class="list-item-subtitle">
							문의 ID:<span th:text="${inquiries.userName}"></span>
						</div>
						<span class="status-badge status-pending"
							th:text="${inquiries.isAnswered == 'N' ? '답변대기' :
								  (inquiries.isAnswered == 'Y' ? '답변완료' : '')}"
							th:classappend="${inquiries.isAnswered == 'N' ? 'status-pending' : 
				                         (inquiries.isAnswered == 'Y' ? 'status-complete' : '')}">
						</span>
					</div>
				</div>
			</div>
		</div>

		<div id="bakery" class="tab-content">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>가게명</th>
						<th>사용자ID</th>
						<th>연락처</th>
						<th>가게주소</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr id="user1" th:each="list, iterStat : ${bakeryLists}"
						th:attr="onclick=|location.href='/admin/bakery/detail?bakeryNo=${list.bakeryNo}&userNo=${list.userNo}'|">
						<td th:text="${bakeryLists.size() - iterStat.index}"></td>
						<td th:text="${list.bakeryName}"></td>
						<td th:text="${list.userId}"></td>
						<td th:text="${list.userPhoneNum}"></td>
						<td th:text="${list.bakeryAddress}"></td>
						<td onclick="event.stopPropagation();"><button class="delete-btn" th:onclick="|location.href='@{/admin/bakery/delete(bakeryNo=${list.bakeryNo})}'|">삭제</button></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div id="user" class="tab-content">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>ID</th>
						<th>이메일</th>
						<th>핸드폰번호</th>
						<th>타입</th>
						<th>email 수신동의 여부</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr id="user1" th:each="list, iterStat : ${userLists}"
						th:attr="onclick=|location.href='/admin/user/detail?userNo=${list.userNo}'|">
						<td th:text="${userLists.size() - iterStat.index}"></td>
						<td th:text="${list.userId}"></td>
						<td th:text="${list.userPhoneNum}"></td>
						<td th:text="${list.userEmail}"></td>
						<td th:text="${list.userType}"></td>
						<td th:text="${list.agreeEmail}"></td>
						<td th:if="${list.agreeEmail == 'Y'}"><input type="checkbox"
							name="check1" value="1" th:data-email="${list.userEmail}"
							onclick="event.stopPropagation(); addEmailToModal(event, this);"
							style="transform: scale(1.5);"></td>
					</tr>
					<div class="email-btn-div">
						<button class="email-btn" id="email-btn">전체선택</button>
						<button class="email-btn" id="openModalBtn">email전송</button>
					</div>
				</tbody>
			</table>
		</div>

		<div id="accept" class="tab-content">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>신청자 ID</th>
						<th>핸드폰번호</th>
						<th>신청날짜</th>
						<th>가게명</th>
						<th>등록상태</th>
						<th>승인/거절날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr id="user1" th:each="list, iterStat : ${sublists}"
						th:attr="onclick=|location.href='/admin/bakery/accept?listNum=${sublists.size() - iterStat.index}&bakeryNo=${list.bakeryNo}&userNo=${list.userNo}'|">
						<td th:text="${sublists.size() - iterStat.index}"></td>
						<td th:text="${list.userId}"></td>
						<td th:text="${list.userPhoneNum}"></td>
						<td th:text="${list.submissionDate}"></td>
						<td th:text="${list.bakeryName}"></td>
						<td th:text="${list.agree}"></td>
						<td th:text="${list.acceptDate}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="category" class="tab-content">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>카테고리</th>
					</tr>
				</thead>
				<tbody>
					<tr id="user1" th:each="categoryList, iterStat : ${categoryList}">
						<td><input type="checkbox" name="check2" value="1"
							th:data-category="${categoryList.category}"
							onclick="handleCheckboxClick(event, this);"
							style="transform: scale(1.5);"></td>
						<td th:text="${categoryList.category}"></td>
					</tr>
				</tbody>
				<div class="category-btn-div">
					<button class="category-btn" onclick="openAddCategoryModal()">추가</button>
					<button class="category-btn" onclick="deleteSelectedCategories()">삭제</button>
				</div>
				<div id="addCategoryModal" style="display: none;">
					<input type="text" id="newCategory" placeholder="새 카테고리 입력">
					<button id="addCategory-btn" onclick="addCategory()">추가</button>
					<button id="addCategory-btn" onclick="closeAddCategoryModal()">취소</button>
				</div>
			</table>
		</div>

		<div id="report" class="tab-content">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>신고한 유저</th>
						<th>신고 내용</th>
						<th>신고 받은 유저</th>
						<th>리뷰 내용 상세보기</th>
						<th>신고 날짜</th>
						<th>답변한 관리자</th>
						<th>답변여부</th>
					</tr>
				</thead>
				<tbody>
					<tr id="user1" th:each="list, iterStat : ${reportLists}"
						th:attr="onclick=|location.href='/admin/report/form?reportNo=${list.reportNo}'|">
						<td th:text="${reportLists.size() - iterStat.index}"></td>
						<td th:text="${list.reporter}"></td>
						<td th:text="${list.reportDetail}"></td>
						<td th:text="${list.reportedUser}"></td>
						<td th:text="${list.reviewDetail}"></td>
						<td th:text="${list.reportDate}"></td>
						<td th:text="${list.adminId}"></td>
						<td th:text="${list.answer}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>

	<div id="myModal" class="custom-modal-container">
		<div class="custom-modal-content">
			<span id="closeBtn" class="custom-close">&times;</span>
			<h2 style="margin-bottom: 20px;">이메일 전송</h2>
			<form id="emailForm">
				<div class="form-group">
					<label for="email">이메일 주소:</label> <input type="text" id="email"
						name="email" placeholder="이메일 주소를 입력하세요" required>
				</div>
				<div class="form-group">
					<label for="subject">제목:</label> <input type="text" id="subject"
						name="subject" placeholder="제목을 입력하세요" required>
				</div>
				<div class="form-group">
					<label for="message">메시지:</label>
					<textarea id="message" name="message" placeholder="메시지를 입력하세요"
						required></textarea>
				</div>

				<button type="button" id="submitBtn">전송</button>
				<button type="reset"
					style="background-color: #FFD700; color: white;">초기화</button>
				<button type="button" id="cancelBtn">취소</button>
			</form>
		</div>
	</div>

</body>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/admin/admin-page.js"></script>

</html>