<!DOCTYPE html>
<html lang="en">

<head>
<head th:replace="~{fragments/head :: HeadFragment}"></head>
<link rel="stylesheet" th:href="@{/css/admin/user-detail.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin.css}">
<link rel="stylesheet" th:href="@{/css/admin/bakery-accpet.css}">
</head>

<header th:replace="~{fragments/header :: HeaderFragment}"></header>
<nav th:replace="~{fragments/nav :: NavFragment}"></nav>

<body>
	<form th:action="@{/admin/bakery/update}" method="post" id="bakeryForm">
		<input type="hidden" name="action" id="actionInput"> <input
			type="hidden" name="bakeryNo" th:value="${result.bakeryNo}">
		<div class="containers">
			<h1 style="text-align: center;">신청정보</h1>
			<table>
				<tr>
					<th>신청번호</th>
					<td th:text="${listNum}"></td>
				</tr>
				<tr>
					<th>유저 ID</th>
					<td th:text="${result.userId}"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td th:text="${result.userName}"></td>
				</tr>
				<tr>
					<th>핸드폰번호</th>
					<td th:text="${result.userPhoneNum}"></td>
				</tr>
				<tr>
					<th>사업자번호</th>
					<td th:text="${result.userBusinessNo}"></td>
				</tr>
				<tr>
					<th>가게명</th>
					<td th:text="${result.bakeryName}"></td>
				</tr>
				<tr>
					<th>가게주소</th>
					<td th:text="${result.bakeryAddress}"></td>
				</tr>
				<tr>
					<th>가게사진</th>
					<td>
						<div class="image-slider">
							<div class="slider-container">
								<th:block th:each="imgPath : ${result.bakeryImgPath}">
									<div class="slide">
										<img
											th:src="@{${imgPath.resourcesPath} + '/' + ${imgPath.changeName}}"
											width="300px" height="300px" />
									</div>
								</th:block>
							</div>
						</div> <!-- 사진 아래 버튼 배치 -->
						<div class="slider-buttons">
							<!-- 슬라이드 이전 버튼 -->
							<button class="prev" onclick="moveSlide(-1)">&#10094;</button>
							<!-- 슬라이드 다음 버튼 -->
							<button class="next" onclick="moveSlide(1)">&#10095;</button>
						</div>
					</td>
				</tr>
				<tr>
					<th>메뉴</th>
					<td th:if="${#lists.isEmpty(menuList)}"><p id="errorMessage">등록된 메뉴가 없습니다.</p></td>
					<td th:if="${not #lists.isEmpty(menuList)}">
						<button id="openModalBtn">메뉴보기</button>
					</td>
				</tr>
				<tr>
					<th>실내정보</th>
					<td th:text="${result.insideInfo}"></td>
				</tr>
				<tr>
					<th>실외정보</th>
					<td th:text="${result.outsideInfo}"></td>
				</tr>
				<tr>
					<th>주차장</th>
					<td th:text="${result.amenity}"></td>
				</tr>
			</table>

			<div id="reject-reason" class="reject-reason">
				<label for="reason">거절 사유:</label>
				<textarea id="reason" name="rejectReason"
					placeholder="거절 사유를 입력하세요..."></textarea>
			</div>

			<div class="btn-container">
				<button class="btn edit-btn" onclick="handleAction('승인')">승인</button>
				<button class="btn delete-btn" onclick="handleAction('거절')">거절</button>
				<button id="back-btn" onclick="goBack()">뒤로가기</button>
			</div>
		</div>
	</form>

	<div id="myModal" class="modal">
		<div class="modal-content">
			<span id="closeBtn" class="close">&times;</span>
			<h2>메뉴</h2>
			<div class="menu-container">
				<div th:each="list, iterStat : ${menuList}" class="menu-item">
					<div class="bread-info">
						<img th:src="@{${list.resourcesPath} + '/' + ${list.changeName}}"
							class="bread-image">
						<h3 th:text="${list.menuName}"></h3>
						<p th:text="${list.menuPrice} + '원'"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>

<script src="/js/admin/bakery-accept.js"></script>

</html>