<!DOCTYPE html>
<html lang="en">

<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
    <link rel="stylesheet" th:href="@{/css/admin/user-detail.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<header th:replace="~{fragments/header :: HeaderFragment}"></header>
<nav th:replace="~{fragments/nav :: NavFragment}"></nav>

<body>
    <div class="containers">
        <h2>유저 상세 정보</h2>
        <table>
            <tr>
                <th>유저 ID</th>
                <td th:text="${result.userId}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${result.userName}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td th:text="${result.userEmail}"></td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td th:text="${result.userBirthdate}"></td>
            </tr>
            <tr>
                <th>핸드폰번호</th>
                <td th:text="${result.userPhoneNum}"></td>
            </tr>
            <tr>
                <th>타입</th>
                <td th:text="${result.userType}"></td>
            </tr>
            <tr>
                <th>계정 생성일</th>
                <td th:text="${result.userCreatedate}"></td>
            </tr>
            <tr>
                <th>사업자번호</th>
                <td></td>
            </tr>
        </table>

        <div class="btn-container">
            <button class="btn edit-btn" onclick="editUser()">수정</button>
            <button class="btn delete-btn" onclick="deleteUser()">삭제</button>
        </div>
    </div>
</body>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
<script>
    function editUser() {
        alert("수정 기능 구현 예정!");
    }

    function deleteUser() {
        if (confirm("정말 삭제하시겠습니까?")) {
            alert("삭제 기능 구현 예정!");
        }
    }
</script>

</html>