<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
						"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.order.mapper.OrderMapper">
	
	<resultMap id="orderResultMap" type="kr.kro.bbanggil.order.dto.OrderDto">
		<result property="menuPrice" column="MENU_PRICE"></result>
		<result property="menuName" column="MENU_NAME"></result>
		<result property="menuCount" column="MENU_COUNT"></result>
	</resultMap>
	
	<select id="list" resultMap="orderResultMap">
		SELECT M.MENU_NAME, M.MENU_PRICE, CI.MENU_COUNT FROM CART_INFO ci 
		JOIN CART c ON ci.CART_NO = c.CART_NO
		JOIN MENU m ON ci.MENU_NO = m.MENU_NO
		WHERE C.USER_NO = 1 AND C.CART_NO = 2
	</select>
	
</mapper>