<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
						"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.email.mapper.NewsletterMapper">


<select id="selectLatestNewsletter" resultType="kr.kro.bbanggil.admin.dto.response.NewsletterResponseDto">

SELECT
	HISTORY_NO AS historyNo,
	BAKERY_NAME AS bakeryName,
	RESOURCES_PATH AS resourcesPath,
	CHANGE_NAME AS changeName,
	OPEN_TIME AS openTime,
	CLOSE_TIME AS closeTime,
	SENT_DATE AS sendDate,
	LOCATION AS location
FROM
	NEWSLETTER_HISTORY
ORDER BY
	SENT_DATE DESC
        FETCH FIRST 1 ROWS ONLY
</select>





</mapper>





