<!DOCTYPE html>
<html>
<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>

    
    <!-- Swiper CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- Swiper JS -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    	<link rel="stylesheet" th:href="@{/css/bakery/list/list.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    	<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=2045fd709630069561aae06c882734cc&libraries=services"></script>
    	<script src="/js/bakery/list/list.js"></script>
		<!-- <script src="/js/bakery/list/listMap.js"></script> -->	
</head>
<body>
    <header class="header" th:replace="~{fragments/header :: HeaderFragment}"></header>
    <nav class="nav" th:replace="~{fragments/nav :: NavFragment}"></nav>

    <div class="map-div">
        <div class="map-box" id="map"></div>
    </div>

    <div class="search-container">
     <form action="/bakery/list" method="GET" style="weight:500px">
        <div class="search-bar">     
        	<input 
                type="text" 
                class="search-input" 
                name="searchText"
                id="searchText"
                th:value="${bakerySearchDTO.searchText}"
                placeholder="🔍 빵집 이름이나 지역을 검색해보세요"
            >
            <button id="searchBtn" type="submit" class="search-button">
                검색하기
            </button>
          
            <div class="filter-container">
            <form id="filterForm" method="GET" action="/bakery/list">
                <select id="filter-select" name="orderType"onchange="this.form.submit()">
                    <option value="" disabled selected>정렬 방식</option>
                    <option value="recent" th:selected="${orderType=='recent'}">최신순</option>
                    <option value="popular" th:selected="${orderType=='popular'}">리뷰순</option>
                    <option value="rating" th:selected="${orderType=='rating'}">평점순</option>
                </select>
             </form>	
            </div>
        </div>
        </form>
    </div>

<section class="post-section">
    <div class="list-box">
        <div class="list-item" th:each ="post,iterStat : ${posts}">
            <div  class="slider" th:id="slider+${iterStat.index+1}">
                <div  class="slides">
                    <div th:each="bakery : ${post.bakeryImageDTO}"  class="hotel-slide">
                        <div class="image-container">
                            <img th:src="@{{resourcesPath}/{changeName}
                        (resourcesPath=${bakery.resourcesPath},
                        changeName=${bakery.changeName})}"  alt="빵 이미지 1" class="reserve-img">
                            <p class="bread-price" th:text="${post.bakeryName}"></p>
                        </div>
                    </div>
                 
                </div>
                <div class="direction-btn">
                    <button class="prev" th:data-slider="${iterStat.index+1}">&lt;</button>
                    <button class="next" th:data-slider="${iterStat.index+1}">&gt;</button>
                </div>
                <div class="slide-indicators" th:id="indicators + ${iterStat.index+1}"></div>
            </div>
            <div class="list-item-info">
                <a th:href="@{/bakery/detail/{bakeryNo}(bakeryNo=${post.bakeryNo})}"	>
                    <h2 class="list-item-title" th:text="${post.bakeryName}"></h2>
                </a>
                <p class="list-item-address">📍<span th:text="${post.bakeryAddress}"></span></p>
                <p class="list-item-score">⭐️평점: <span th:text="${post.bakeryReviewDTO.reviewRating}"></span></p>
                <p class="list-item-time">🕒영업시간: <span th:text="${post.bakeryScheduleDTO.bakeryOpenTime}"></span><span>~</span><span th:text="${post.bakeryScheduleDTO.bakeryCloseTime}"></span></p>
                <p class="list-item-review">📝리뷰: <span th:text="${post.reviewCount}"></span></p>
                <p class="list-item-parking">🚗: <span th:text="${post.bakeryDetailDTO.bakeryAmenity}"></span></p>
            </div>
        </div>
     </div>
     <h1 th:if="${posts == null}">일치하는 빵집이 없습니다</h1>
  </section>

        <!-- 두 번째 리스트 아이템 -->
        


<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>

</body>
</html>