<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빵지순례 - 전국 빵집 탐방 가이드</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" th:href="@{/css/mypage/edit.css}">

    <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=2045fd709630069561aae06c882734cc&libraries=services"></script>
<head th:replace="~{fragments/head :: HeadFragment}"></head>
    <!-- Swiper CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <!-- 헤더 및 네비게이션 -->
    <header th:replace="~{fragments/header :: HeaderFragment}"></header>
    <!-- 네비게이션 메뉴 -->
    <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
    <script src="/js/mypage/edit.js"></script>
<main>
<div class="info-div">   
	<form class="info-form" method="POST" th:action="@{/mypage/edit}">
        <div class="mypageInfo">
            <div class="info-correction" >
                <div class="info-title">
                    <h3>기본정보 수정</h3>
                </div>       		 
                <div class="info-edit">
                    <input class="info-input" type="text" th:value="${userInfo.userDto.userName}"
                            id="info-name" name="userName">

                    <input class="info-input" type="email" th:value="${userInfo.userDto.userEmail}"
                            id="info-email" name="userEmail">

                    <input class="info-input" type="tel" th:value="${userInfo.userDto.phoneNum}"
                            id="info-phone" name="phoneNum">
                </div>
                    <div class="error-text" id="name-msg"></div>
                    <div class="error-text" id="email-msg"></div>
                    <div class="error-text" id="phone-msg"></div>
                <div class="info-btn-div">
                    <button class="edit-btn" type="button">수정</button>
                </div>
            </div>
        </div>
	</form>
    
        <div class="mypageInfo">
            <div class="info-change">
                <div class="info-title">
                    <h3>개인정보 변경</h3>
                </div>
                  <div class="info-edit">
					<form class="info-form" method="POST" th:action="@{/mypage/updatePassword}">
                        <div class="info-pw-btn-div">
                            <button class="change-pw-btn" type="button" onclick="pwBtn()">비밀번호 변경</button>

                            <div class="pass-div" id="pass-div">
                            	<input type="hidden" id="current-password" th:value = "userInfo.userDto.userPassword">
                                <input class="change-password" type="password" id="password-now" name="currentPassword"
                                        placeholder="현재 비밀번호">
                                        <div class="error-text" id="passwordNow-msg"></div>

                                <input class="change-password" type="password" id="password-new" name="newPassword"
                                        placeholder="새 비밀번호">
                                        <div class="error-text" id="passwordNew-msg"></div>   

                                <input class="change-password" type="password" id="password-new-confirm" name="confirmPassword"
                                        placeholder="새 비밀번호 확인">
                                        <div class="error-text" id="password-confirm-msg"></div>

                                <button class="pass-btn" id="pass-btn" type="button">변경하기</button>
                            </div>
                        </div>
					</form>
					<form method="POST" th:action="@{/mypage/updateAddress}">
                        <div class="info-address-btn-div">
                            <button class="change-ar-btn" type="button">주소 변경</button>
                            <div class="postcode-div" id="postcode-div">
                                <label for="postcode"></label>
	                            <input class="change-address postcode-input" type="text" placeholder="우편번호"
	                                   id="sample6_postcode" name="requestAddressDto.userPostcode" required>
	                            <button id="postcode-btn" class="change-address-btn" type="button" onclick="sample6_execDaumPostcode()">우편번호찾기</button>
                            </div>

                            <div class="addr-div" id="addr-div">
                                <input class="change-address" type="text" id="sample6_address" 
	                                   name="address" placeholder="주소" required>
	                            <input type="hidden" name="requestAddressDto.userCity" id="city">
	                            <input type="hidden" name="requestAddressDto.userDistrict" id="district">
	                            <input type="hidden" name="requestAddressDto.userStreet" id="street">
	                            <input type="hidden" name="requestAddressDto.userNumber" id="number">
	                            <input class="change-address" type="text" id="sample6_detailAddress" 
	                                   style="border-top: 0px;" name="requestAddressDto.userDetailaddress" placeholder="상세주소 (선택)">

                                <button class="addr-btn" id="addr-btn" type="submit" onclick="checkValue()">변경하기</button>
                            </div>
                        </div>
                     </form>
                    </div>
        	</div>
    	</div>
    
</div> 
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> 
</body>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
</html>