<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/head :: HeadFragment}"></head>
    <head>
    	<link rel="stylesheet" th:href="@{/css/register/loginup.css}">
    	<script src="/js/register/loginup.js"></script>
   	</head>
<body>
     <header class="header" th:replace="~{fragments/header :: HeaderFragment}"></header>
    <main>
        <div class="loginup-container">
            <h2>회원가입 (일반)</h2>
            <form autocomplete="off" class="loginup-form" action="/loginup" method="post">
                <div class="form-group">
                    <div class="loginup-input-div">
                    <div class="loginup-id">
                        <label for="userid"></label>
                        <input class="loginup-input-id" type="text" placeholder="아이디"
                               id="userid" name="userid" required>
                        <button class="id-check-btn" type="button">중복확인</button>
                    </div>
                    </div>
                    <div class="loginup-input-div">
                        <label for="password"></label>
                        <input class="loginup-input-first" type="password" placeholder="비밀번호"
                               id="password" name="password" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="password-confirm"></label>
                        <input class="loginup-input-last" type="password" placeholder="비밀번호 확인"
                               style="border-top: 0px;" id="password-confirm" name="password-confirm" required>
                    </div>
                <div class="error-text" id="id-msg"></div>
                <div class="error-text" id="password-msg"></div>
                <div class="error-text" id="password-confirm-msg"></div>
                </div>
                <div class="form-group">
                    <div class="address-input-div">
                        <div class="postcode-div">
                            <label for="postcode"></label>
                            <input class="postcode-input" type="text" placeholder="우편번호"
                                   id="postcode" name="postcode" required>
                            <button class="postcode-btn" type="button" onclick="execDaumPostcode()">우편번호찾기</button>
                        </div>
                            <input class="loginup-input-first" type="text" id="address" 
                                   name="address" placeholder="주소" required>
                            <input class="loginup-input-last" type="text" id="detailAddress" 
                                   style="border-top: 0px;" name="detailAddress" placeholder="상세주소 (선택)">
                        </div>
                <div class="error-text" id="postcode-msg"></div>
                <div class="error-text" id="address-msg"></div>
                <div class="error-msg" id="error-msg"></div>
                </div>
                <div class="form-group">
                    <div class="loginup-input-div">
                        <label style="margin-left: 3px;" for="birthdate">생년월일</label>
                        <input class="loginup-input-first" type="date" 
                               id="birthdate" name="birthdate" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="username"></label>
                        <input class="loginup-input" type="text" placeholder="이름"
                               id="username" name="username" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="email"></label>
                        <input class="loginup-input" type="email" placeholder="이메일"
                               id="email" name="email" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="phone"></label>
                        <input class="loginup-input-last" type="tel" placeholder="휴대폰번호 (-없이)"
                                style="border-top: 0px;" id="phone" name="phone" required>
                    </div>
                <div class="error-text" id="birthday-msg"></div>
                <div class="error-text" id="name-msg"></div>
                <div class="error-text" id="email-msg"></div>
                <div class="error-text" id="phone-msg"></div>
                </div>
                <input type="hidden" id="token" name="token">
                <div class="phone-btn-div">
                    <label for="phone-auth"></label>
                    <input class="phone-auth" type="text" placeholder="인증번호"
                           id="phone-auth" name="phone-auth" required>
                    <div class="error-text" id="phone-auth-msg"></div>
                <button class="phone-btn" type="button">인증번호받기</button>
                </div>
                <div class="loginup-btn-div">
                    <button class="loginup-btn" type="button">가입하기</button>
                </div>
            </div>
            <div class="loginup-link">
                <a href="./business-loginup.html">사업자회원가입하기</a>
            </div>
            </form>
        </div>
    </main>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
</body>
</html>