<!DOCTYPE html>
<html lang="ko">
<head>
<head th:replace="~{fragments/head :: HeadFragment}"></head>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="/css/home/home.css">
<script type="text/javascript"
	src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=bc4fcfd914b407e2489bf782697d47d4&libraries=services"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<!-- Swiper CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
<!-- Swiper JS -->
<script
	src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
	<!-- 헤더 및 네비게이션 -->
	<header th:replace="~{fragments/header :: HeaderFragment}"></header>
	<!-- 네비게이션 메뉴 -->
	<nav th:replace="~{fragments/nav :: NavFragment}"></nav>
	<main>
		<div class="mypage-container">
			<div class="mypage-title">
				<h1>마이페이지</h1>
				<p>안녕하세요,
				<p
					th:text="${userName != null
                						? userName + '님!🥖'
                						: '회원님!🥖'}"></p>
				</p>
			</div>
			<div class="mypage-content">
				<div class="mypage-info" th:each="userInfo : ${userInfo}">
					<h3>내 정보🥖</h3>
					<p>
						이름 <br> &nbsp; 🥐 &nbsp;<span
							th:text="${userInfo.userDto.userName}"></span>
					</p>
					<p>
						이메일 <br> &nbsp; 🥐 &nbsp;<span
							th:text="${userInfo.userDto.userEmail}"></span>
					</p>
					<p>
						핸드폰 <br> &nbsp; 🥐 &nbsp;<span
							th:text="${userInfo.userDto.phoneNum}"></span>
					</p>
					<div class="mypage-menu">
						<a href="/register/edit/form">회원정보 수정 ✎</a>
					</div>
				</div>
				<div class="mypage-order">
					<p>🍞 구매내역 🍞</p>
					<table class="mypage-table">
						<thead class="mypage-table-head">
							<tr>
								<td style="width: 5%;">번호</td>
								<td style="width: 30%;">가게이름</td>
								<td style="width: 15%;">주문금액</td>
								<td style="width: 10%;">주문상태</td>
							</tr>
						</thead>
						<tbody class="mypage-table-body" >
 							<th:block th:each="getBuyHistory, stat : ${getBuyHistory}">
 							<tr class="tbody-tr"  onclick="toggleDetail(this)">
								<td th:text="${stat.count}"></td>
								<td th:text="${getBuyHistory.bakeryInfoDto.bakeryName}"></td>
								<td th:text="${getBuyHistory.paymentDto.amount}"></td>
								<td th:text="${getBuyHistory.pickupDto.pickupStatus}"></td>
							</tr>
							<tr class="detail-row">
								<td colspan="4">
									<div id="detail-info" class="detail-info">
										<div class="menu-div">
											<p>
												🥯 구매한 빵 : <span
													th:text="${getBuyHistory.bakeryInfoDto.bakeryList}"></span>
											</p>
										</div>
										<form method="post" action="/register/deleteReview">
											<div class="review-info-div"
												th:if="${getBuyHistory.reviewDto.reviewRating != null}">
												<input type="hidden" name="reviewDto.orderNo"
													th:value="${getBuyHistory.reviewDto.orderNo}">
												<p>내 리뷰 ✎</p>
												<div class="stars">
													<p>
														평점 : <span id="rating-value"
															th:each="getBuyHistory : ${getBuyHistory}"
															th:text="${getBuyHistory.reviewDto.reviewRating}" hidden></span>
													</p>
													<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
														class="fas fa-star"></i> <i class="fas fa-star"></i> <i
														class="fas fa-star"></i>
												</div>
												<div class="review-text">
													<p th:each="getBuyHistory : ${getBuyHistory}"
														th:text="${getBuyHistory.reviewDto.reviewDetail}"></p>
													
												</div>
												<div>
													<button class="delete-btn" type="submit">삭제</button>
												</div>
											</div>
										</form>
										<div class="review-div"
											th:if="${getBuyHistory.reviewDto.reviewRating == null}">
											<div class="review-write-div">
												<button class="review-write-btn" id="review-write-btn"
													type="button"
													th:attr="onclick='writeBtn(' + ${stat.index} + ')'">리뷰
													작성 하기 ✎</button>
											</div>
											<form method="POST" action="/register/writeReview">
												<div class="review-text-div"
													th:id="'review-text-div-' + ${stat.index}">
													<input type="hidden" th:id="'review-rating-'+ ${stat.index}"
														name="reviewDto.reviewRating"> <input
														type="hidden" name="reviewDto.orderNo"
														th:value="${getBuyHistory.reviewDto.orderNo}">
														<input
														type="hidden" name="bakeryInfoDto.bakeryNo"
														th:value="${getBuyHistory.bakeryInfoDto.bakeryNo}">
													<div class="stars" style="color: yellow;">
														<p>평점 :</p>
														<i class="far fa-star"></i> <i class="far fa-star"></i> <i
															class="far fa-star"></i> <i class="far fa-star"></i> <i
															class="far fa-star"></i>
													</div>
													<textarea class="review-text-textarea"
														id="review-text-textarea" maxlength="100" type="text"
														name="reviewDto.reviewDetail"></textarea>
													<p class="char-count">0/100</p>
													
													<button class="text-btn" type="submit">등록</button>
												</div>
											</form>
										</div>
									</div>
								</td>
							</tr>
							</th:block>				
						</tbody>
					</table>
	<div class="pagination">
        <a th:if="${pi.currentPage > 1}" th:href="@{/register/mypage(currentPage=${pi.currentPage - 1})}">이전</a>
        <th:block th:each="pageNum : ${#numbers.sequence(pi.startPage, pi.endPage)}">
            <a th:href="@{/register/mypage(currentPage=${pageNum})}"
               th:text="${pageNum}"
               th:classappend="${pageNum == pi.currentPage} ? 'active' : ''">
            </a>
        </th:block>
		 <a th:if="${pi.currentPage < pi.maxPage}" th:href="@{/register/mypage(currentPage=${pi.currentPage + 1})}">다음</a>
    </div>

    <!-- 점주 페이지로 이동 (점주일 경우) -->
    <div th:if="${goOwnerPage}">
        <a href="/register/owner/mypage">점주 페이지로 이동</a>
    </div>
				</div>
			</div>
		</div>
	</main>
	<script src="/js/mypage/mypage.js"></script>
</body>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
</html>