<footer class="footer" th:fragment = "FooterFragment">
	
        <div class="footer-top">
            <div class="footer-column">
                <img src="/img/common/이빵이오 캐릭터로고.png" id="footer-logo"  alt="">
                <p class="footer-description">
                    전국의 맛있는 빵집을 소개하는<br>
                    대한민국 No.1 베이커리 정보 플랫폼
                </p>
            </div>
            
            <div class="footer-column">
                <h4 class="footer-subtitle">서비스</h4>
                <a th:href="@{/bakery/insert/form}" class="footer-link">빵집 등록하기</a>
                <a href="#" class="footer-link">빵집 광고 문의</a>
                <a href="#" class="footer-link">제휴 문의</a>
            </div>
            
            <div class="footer-column">
                <h4 class="footer-subtitle">정보</h4>
                <a href="#" class="footer-link">이용약관</a>
                <a href="#" class="footer-link">개인정보처리방침</a>
             <a href="/inquiry-write" class="footer-link">문의하기</a>
            </div>
            
            <div class="footer-column">
                <h4 class="footer-subtitle">소셜 미디어</h4>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">
                © 2025 이빵이오 All Rights Reserved.
            </p>
        </div>
        <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    </footer>