<th:block class="head" th:fragment= "HeadFragment">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>빵지순례 - 전국 빵집 가이드</title>
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="/css/common/header.css"><link>
	    <link rel="stylesheet" href="/css/common/nav.css"><link>
	    <link rel="stylesheet" href="/css/common/footer.css">
      
</th:block>