<header class="header" th:fragment= "HeaderFragment">
        <div class="logo-container">
            <h1 class="logo-text">이빵 이오</h1>
            <p class="logo-subtext">전국 빵집 탐방 가이드</p>
        </div>
        <div class="nav-buttons">
            <button th:onclick="|location.href='@{/register/loginin/form}'|" class="login-button">로그인</button>
            <button th:onclick="|location.href='@{/register/typeloginup/form}'|" class="register-button">회원가입</button>
        </div>
        <link rel="stylesheet" th:href="@{/css/common/header.css}">
    </header>