body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
        }
        .containers {
            width: 60%;
            margin: auto;
            margin-top : 50px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            color: #4A4A4A;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        .box {
            display: flex;
            width: 300px;
            height: 200px;
            border: 1px solid #dfdfdf;
            border-radius: 10px;
            text-align: center;
            justify-content: space-evenly;
            flex-direction: column;
        }
        canvas {
            max-width: 100%;
        }
        .text-size{
            font-size: 70px;
        }