.body-container{
	height : 70%;
	width : 100%;
	display : flex;
	min-height: calc(100vh - 100px);
	justify-content: space-around;
	align-items: center;
}
.error-name{
	font-size : 50px;
	font-weight: bold;
}
.error-message{
	font-size : 20px;
	font-weight: bold;
}