.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.logo-container {
    display: flex;
    flex-direction: column;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #8B4513;
}

.logo-subtext {
    font-size: 12px;
    color: #888;
    margin-top: 2px;
}
.login-button {
    padding: 8px 16px;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: #8B4513;
    font-weight: 500;
    cursor: pointer;
}

.register-button {
    background-color: #8B4513;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.logo-text:hover{
	cursor: pointer;
}