<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
						"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.bakery.mapper.BakeryMapper">
	
	<insert id="menuInsert">
	<selectKey resultType="int" keyProperty="menuNo" order="BEFORE">
		SELECT menu_seq.nextval from dual
	</selectKey>
		INSERT INTO menu VALUES(#{menuRequestDTO.menuNo},
								#{menuRequestDTO.menuName},
								#{menuRequestDTO.menuPrice},
								#{menuRequestDTO.menuPopulity},
								#{bakeryNo},
								#{menuRequestDTO.menuCategory})
	</insert>
	<insert id="menuFileUpload">
	INSERT INTO menu_image
		VALUES(menu_img_seq.nextval,
			   #{fileDTO.changeName},
			   #{fileDTO.originalName},
			   #{fileDTO.extension},
			   #{fileDTO.size},
			   #{fileDTO.localPath},
			   #{fileDTO.localResourcePath},
			   #{fileDTO.folderNamePath},
			   #{menuNo})
	</insert>
	<insert id="imgInsert">
	INSERT INTO menu_imege
		VALUES(menu_img_seq.nextval,
			   #{changeName},
			   #{originalName},
			   #{extension},
			   #{size},
			   #{localPath},
			   #{localResourcePath},
			   #{folderNamePath},
			   56)
	</insert>
	
	
	
	<select id="getCategory">
		SELECT category_no AS categoryNo,
			   category
		FROM menu_category
	</select>
	
	<insert id="bakeryFileUpload">
		INSERT INTO bakery_Image
		VALUES(img_seq.nextval,
			   #{fileDTO.changeName},
			   #{fileDTO.originalName},
			   #{fileDTO.extension},
			   #{fileDTO.size},
			   #{fileDTO.localPath},
			   #{fileDTO.localResourcePath},
			   #{fileDTO.folderNamePath},
			   #{imgLocation},
			   #{bakeryNo},
			   '')
	</insert>
	<insert id="bakeryInsert">
		<selectKey resultType="int" keyProperty="bakeryNo" order="BEFORE">
			SELECT bakery_seq.nextval from dual
		</selectKey>
			INSERT INTO bakery_info
			VALUES(#{bakeryNo},
				   #{bakeryName},
				   #{bakeryAddress},
				   #{bakeryPhone},
				   #{latitude},
				   #{longitude},
				   #{region})
	</insert>
	<insert id="bakeryDetailInsert">
		INSERT INTO bakery_detail
		VALUES(#{bakeryNo},
			   #{amenity},
			   #{insideInfo},
			   #{outsideInfo},
			   #{createdDate},
			   sysdate)
	</insert>
	<insert id="bakeryScheduleInsert">
		INSERT INTO bakery_schedule
		VALUES(schedule_seq.nextval,
			   #{bakeryNo},
			   #{timeDTO.day},
			   #{timeDTO.start},
			   #{timeDTO.end})
	</insert>
</mapper>