<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
						"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.bakery.mapper.BakeryMapper">
	<resultMap id="menuResultMap" type="kr.kro.bbanggil.bakery.dto.response.MenuResponseDTO">
		<result property="menuNo" column="menu_no"></result>
		<result property="menuName" column="menu_name"></result>
		<result property="menuPrice" column="menu_price"></result>
		<result property="menuPopulity" column="menu_info"></result>
		<result property="bakeryNo" column="bakery_no"></result>
		<result property="categoryNo" column="category_no"></result>
			
		<association property="fileResponseDto" javaType="kr.kro.bbanggil.bakery.dto.response.FileResponseDTO">
			<result property="changeName" column="change_name"></result>
			<result property="folderNamePath" column="folder_name_path"></result>
			<result property="resourcesPath" column="resources_path"></result>
		</association>
	</resultMap>
	

	<insert id="menuInsert">
		INSERT INTO menu VALUES(menu_seq.nextval,
								#{menuName},
								#{menuPrice},
								#{menuPopulity},
								160,
								#{menuCategory})
	</insert>
	
	<select id="getCategory">
		SELECT category_no AS categoryNo,
			   category
		FROM menu_category
	</select>
	<insert id="bakeryFileUpload">
		INSERT INTO bakery_Image
		VALUES(img_seq.nextval,
			   #{fileDTO.changeName},
			   #{fileDTO.originalName},
			   #{fileDTO.extension},
			   #{fileDTO.size},
			   #{fileDTO.localPath},
			   #{fileDTO.localResourcePath},
			   #{fileDTO.folderNamePath},
			   #{imgLocation},
			   #{bakeryNo},
			   '')
	</insert>
	<insert id="bakeryInsert">
	<selectKey resultType="int" keyProperty="bakeryNo" order="BEFORE">
	SELECT bakery_seq.nextval from dual
	</selectKey>
		INSERT INTO bakery_info
		VALUES(#{bakeryNo},
			   #{bakeryName},
			   #{bakeryAddress},
			   #{bakeryPhone},
			   #{latitude},
			   #{longitude},
			   #{region})
	</insert>
	<insert id="bakeryDetailInsert">
		INSERT INTO bakery_detail
		VALUES(#{bakeryNo},
			   #{amenity},
			   #{insideInfo},
			   #{outsideInfo},
			   #{createdDate},
			   sysdate)
	</insert>
	<insert id="bakeryScheduleInsert">
		INSERT INTO bakery_schedule
		VALUES(schedule_seq.nextval,
			   #{bakeryNo},
			   #{timeDTO.day},
			   #{timeDTO.start},
			   #{timeDTO.end})
	</insert>
</mapper>