<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.owner.pickup.mapper.SalesMapper">

	<resultMap id="pickupResultMap"
		type="kr.kro.bbanggil.owner.pickup.response.dto.PickupBakeryInfoResponseDTO">
		<result property="bakeryNo" column="bakery_no"></result>

		<association property="payDTO" javaType="kr.kro.bbanggil.owner.pickup.response.dto.PickupPaymentResponseDTO">
			<result property="orderNo" column="order_no"></result>
			<result property="requestContent" column="request_content"></result>
			<result property="paymentDate" column="pay_request_date"></result>
			<result property="amount" column="amount"></result>
		</association>
		
		<association property="statusDTO" javaType="kr.kro.bbanggil.owner.pickup.response.dto.PickupStatusResponseDTO">
			<result property="pickupStatus" column="pickup_status"></result>
			<result property="rejectionReason" column="refusal_detail"></result>
		</association>
		
		<association property="userDTO" javaType="kr.kro.bbanggil.owner.pickup.response.dto.PickupUserInfoResponseDTO">
			<result property="userNo" column="user_no"></result>
			<result property="recipientsPhonenum" column="recipients_phonenum"></result>
		</association>
		
		<association property="menuList" javaType="kr.kro.bbanggil.owner.pickup.response.dto.PickupMenuResponseDTO">
			<result property="menuName" column="menu_name"></result>
			<result property="menuCount" column="menu_count"></result>
			<result property="price" column="menu_price"></result>
		</association>
		
		<association property="salesDTO" javaType="kr.kro.bbanggil.owner.pickup.response.dto.PickupSalesResponseDTO">
			<result property="year" column="year"></result>
			<result property="month" column="month"></result>
			<result property="totalSales" column="total_sales"></result>
		</association>
	</resultMap>

<select id="getMonthlySales" resultMap="pickupResultMap">
SELECT 
		    EXTRACT(MONTH FROM p.pay_request_date) AS MONTH,
		    SUM(p.amount) AS total_sales
FROM
	(
	SELECT
		DISTINCT p.pay_no,
		p.amount,
		p.pay_request_date
	FROM
		PAYMENT p
	JOIN ORDER_INFO oi ON
		p.pay_no = oi.pay_no
	JOIN pickup_status ps ON
		p.pay_no = ps.pay_no
	JOIN cart c ON
		c.cart_no = oi.cart_no
	JOIN cart_info ci ON
		ci.cart_no = c.cart_no
	JOIN menu m ON
		ci.menu_no = m.menu_no
	JOIN bakery_info bi ON
		bi.bakery_no = m.bakery_no
	WHERE
		bi.bakery_no = #{bakeryNo}
		AND ps.pickup_status = '완료'
		AND EXTRACT(YEAR FROM p.pay_request_date) = #{year}
		) p
		GROUP BY EXTRACT(MONTH FROM p.pay_request_date)
		ORDER BY MONTH
</select>


<select id="getAnnualTotalSales" resultType="int">
SELECT
	SUM(p.amount)
FROM
	PAYMENT p
JOIN ORDER_INFO oi ON
	p.pay_no = oi.pay_no
JOIN cart c ON
	c.cart_no = oi.cart_no
JOIN cart_info ci ON
	ci.cart_no = c.cart_no
JOIN menu m ON
	ci.menu_no = m.menu_no
JOIN bakery_info bi ON
	bi.bakery_no = m.bakery_no
WHERE
	bi.bakery_no = #{bakeryNo}
	AND EXTRACT(YEAR FROM p.pay_request_date) = #{year}
</select>

<select id="getAvailableYears" resultType="int">
SELECT
	EXTRACT(YEAR FROM p.pay_request_date) AS YEAR
FROM
	PAYMENT p
JOIN ORDER_INFO oi ON
	p.pay_no = oi.pay_no
JOIN cart c ON
	c.cart_no = oi.cart_no
JOIN cart_info ci ON
	ci.cart_no = c.cart_no
JOIN menu m ON
	ci.menu_no = m.menu_no
JOIN bakery_info bi ON
	bi.bakery_no = m.bakery_no
WHERE
	bi.bakery_no = #{bakeryNo}
GROUP BY
	EXTRACT(YEAR FROM p.pay_request_date)
ORDER BY
	YEAR DESC
</select>
</mapper>
