<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
						 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.kro.bbanggil.member.mapper.MypageMapper">

	<resultMap id="myPageDto" type="kr.kro.bbanggil.mypage.model.dto.response.MypageListResponseDto">
		<association property="bakeryInfoDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypageBakeryInfoResponseDto">
			<result property = "bakeryName" column="bakery_name"></result>
			<result property = "bakeryList" column = "menu_list"></result>
		</association>
		<association property="paymentDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypagePaymentResponseDto">
			<result property = "amount" column="amount"></result>
		</association>
		<association property="pickupDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypagePickupResponseDto">
			<result property = "pickupStatus" column="pickup_status"></result>
		</association>
		<association property="reviewDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypageReviewResponseDto">
			<result property = "reviewNo" column="review_no"></result>
			<result property = "orderNo" column="order_no"></result>
			<result property = "userNo" column="user_no"></result>
			<result property = "reviewDetail" column="review_detail"></result>
			<result property = "reviewRating" column="review_rating"></result>
			<result property = "reviewDate" column="review_date"></result>
			<result property = "bakeryNo" column="bakery_no"></result>
		</association>
		<association property="reviewTagDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypageReviewTagResponseDto">
			<result property = "tagNo" column="tag_no"></result>
			<result property = "reviewNo" column="review_no"></result>
			<result property = "tagFirst" column="tag_first"></result>
			<result property = "tagSecond" column="tag_second"></result>
			<result property = "tagThird" column="tag_third"></result>
			<result property = "tagForth" column="tag_forth"></result>
			<result property = "tagFive" column="tag_five"></result>
		</association>
		<association property="userDto" javaType="kr.kro.bbanggil.mypage.model.dto.response.MypageUserResponseDto">
			<result property = "userNo" column="user_no"></result>
			<result property = "userName" column="user_name"></result>
			<result property = "userId" column="user_id"></result>
			<result property = "userPassword" column="user_password"></result>
			<result property = "userEmail" column="user_email"></result>
			<result property = "birthDate" column="user_birthdate"></result>
			<result property = "phoneNum" column="user_phonenum"></result>
			<result property = "userType" column="user_type"></result>
			<result property = "userBan" column="user_ban"></result>
			<result property = "createdDate" column="created_date"></result>
		</association>
	</resultMap>
	
	<resultMap id="ownerResultMap" type="kr.kro.bbanggil.member.model.dto.response.OwnerMypageResponseDTO">
		<result property="bakeryNo" column="bakery_no"></result>
		<result property="bakeryName" column="bakery_name"></result>
		<result property="createdDate" column="submission_date"></result>
		<result property="bakeryPhone" column="bakery_phone"></result>
		<result property="bakeryAddress" column="bakery_address"></result>
		<result property="agree" column="agree"></result>
	</resultMap>
	    


	<select id="getTotalCount" resultType="int"> 
		SELECT count(*) FROM USER_INFO ui 
		JOIN CART c ON ui.USER_NO = c.USER_NO 
		JOIN ORDER_INFO oi ON oi.CART_NO =c.CART_NO 
		WHERE ui.user_no = #{userNo}
	</select>
	
	<select id="getUserInfo" resultMap="myPageDto">
		SELECT 
			user_name,
			user_email,
			user_phonenum 
		FROM USER_INFO ui 
		WHERE USER_NO = #{userNo}
	</select>
	
	<select id="getBuyHistory" resultMap="myPageDto">
		SELECT 
    		OI.order_no,
   			 BI.bakery_name,
   			 P.amount,
    		 PS.pickup_status,
   			 R.review_detail,
    		 R.review_rating,
   			 LISTAGG(M.menu_name || ' x ' || CI.menu_count, ', ') WITHIN GROUP (ORDER BY M.menu_no) AS menu_list
		FROM ORDER_INFO OI
			JOIN CART C ON OI.cart_no = C.cart_no
			JOIN USER_INFO U ON C.user_no = U.user_no
			JOIN PAYMENT P ON OI.pay_no = P.pay_no
			JOIN PICKUP_STATUS PS ON P.pay_no = PS.pay_no
			LEFT JOIN REVIEW R ON OI.order_no = R.order_no
			JOIN CART_INFO CI ON C.cart_no = CI.cart_no
			JOIN MENU M ON CI.menu_no = M.menu_no
			JOIN BAKERY_INFO BI ON M.bakery_no = BI.bakery_no
		WHERE U.user_no = #{userNo}
			GROUP BY OI.order_no, BI.bakery_name, P.amount, PS.pickup_status, R.review_detail, R.review_rating
		ORDER BY OI.order_no DESC
	</select>
	
	<update id="updateUser">
		UPDATE user_info SET 
				user_name = #{userDto.userName}, 
				user_email = #{userDto.userEmail}, 
				user_phonenum =  #{userDto.phoneNum}
		WHERE user_no = #{userNo}
	</update>
	
	<select id="getPassword" resultType="String">
		SELECT user_password
			FROM user_info ui
		WHERE user_no = #{userNo}
	</select>
	
	<update id="updatePassword">
		UPDATE user_info SET 
			user_password = #{userPassword}
		WHERE user_no = #{userNo}
	</update>
	
	<select id="ownerMypage" resultMap="ownerResultMap">
		SELECT bi.BAKERY_NO,
			   bi.BAKERY_NAME,
			   bi.BAKERY_ADDRESS,
			   bi.BAKERY_PHONE,
			   ba.AGREE,
			   bd.SUBMISSION_DATE 
		FROM BAKERY_INFO bi 
		JOIN BAKERY_ACCESS ba ON bi.BAKERY_NO =ba.BAKERY_NO
		JOIN BAKERY_DETAIL bd ON bi.BAKERY_NO = bd.BAKERY_NO  
		WHERE USER_NO = #{userNum}
	</select>
	
	<select id="ownerInfo">
		SELECT user_name AS userName, 
			   ui.USER_PHONENUM AS userPhone,
			   b.USER_BUSINESSNO AS businessNo
		FROM USER_INFO ui 
		JOIN BUSINESSNO b ON ui.USER_NO = b.USER_NO
		WHERE ui.USER_NO = ${userNum}
	</select>

	


</mapper>