<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
						"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.user.member.mapper.MemberMapper">

	<resultMap id="loginupMap" type="kr.kro.bbanggil.user.member.dto.request.MemberRequestSignupDto">
		<result property="userNo" column="USER_NO"></result>
		<result property="userName" column="USER_NAME"></result>
		<result property="userId" column="USER_ID"></result>
		<result property="userPassword" column="USER_PASSWORD"></result>
		<result property="userEmail" column="USER_EMAIL"></result>
		<result property="userBirthDate" column="USER_BIRTHDATE"></result>
		<result property="userPhoneNum" column="USER_PHONENUMBER"></result>
		<result property="userType" column="USER_TYPE"></result>
		<result property="userBan" column="USER_BAN"></result>
		<result property="createdDate" column="CREATED_DATE"></result>
	</resultMap>
	
	<resultMap id="addressResultMap" type="kr.kro.bbanggil.user.member.dto.request.MemberRequestAddressDto">
		<result property="userNo" column="USER_NO"></result>
		<result property="userPostcode" column="USER_POSTCODE"></result>
		<result property="userCity" column="USER_CITY"></result>
		<result property="userDistrict" column="USER_DISTRICT"></result>
		<result property="userStreet" column="USER_STREET"></result>
		<result property="userNumber" column="USER_NUMBER"></result>
		<result property="userDetailaddress" column="USER_DETAILADDRESS"></result>
	</resultMap>
	
	

	

<insert id="loginup" parameterType="kr.kro.bbanggil.user.member.dto.request.MemberRequestCheckBoxDto">
<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
	SELECT user_info_seq.nextval FROM dual
</selectKey>
INSERT
	INTO
	USER_INFO
VALUES(#{userNo},
								 #{userName},
								 #{userId},
								 #{userPassword},
								 #{userEmail},
								 #{userBirthDate},
								 #{userPhoneNum},
								 DEFAULT,
								 DEFAULT,
								 SYSDATE
								 )
</insert>
	
<insert id="insertCheckbox" parameterType="kr.kro.bbanggil.user.member.dto.request.MemberRequestCheckBoxDto">
INSERT
	INTO
	AGREE
VALUES (#{userNo}, 
	 						   SYSDATE, 
	 						   #{termsofuse}, 
	 						   #{information},
	 						   #{location},
	 						   #{marketing},
	 						   #{email},
	 						   #{sms})
</insert>
	
<insert id="insertAddress" parameterType="kr.kro.bbanggil.user.member.dto.request.MemberRequestSignupDto">
INSERT
	INTO
	ADDRESS
VALUES(#{userNo},
							   #{requestAddressDto.userPostcode},
							   #{requestAddressDto.userCity},
							   #{requestAddressDto.userDistrict},
							   #{requestAddressDto.userStreet},
							   #{requestAddressDto.userNumber},
							   #{requestAddressDto.userDetailaddress})
</insert>

<insert id="businessloginup" parameterType="kr.kro.bbanggil.user.member.dto.request.MemberRequestSignupDto">
<selectKey keyProperty="userNo" resultType="int" order="BEFORE">
			SELECT user_info_seq.nextval FROM dual
		</selectKey>
INSERT
	INTO
	USER_INFO
VALUES(#{userNo},
								 #{userName},
								 #{userId},
								 #{userPassword},
								 #{userEmail},
								 #{userBirthDate},
								 #{userPhoneNum},
								 'owner',
								 DEFAULT,
								 SYSDATE
								 )
	</insert>
	
<insert id="insertbusiness" parameterType="kr.kro.bbanggil.user.member.dto.request.MemberRequestSignupDto">
INSERT
	INTO
	BUSINESSNO
VALUES(#{userNo},
								  #{businessNoDto.businessNo})
</insert>
	
<select id="userIdCheck" resultType="int">
SELECT
	COUNT(*)
FROM
	USER_INFO
WHERE
	USER_ID = #{userId}
</select>
	
<select id="userEmailCheck" resultType="int">
SELECT
	COUNT(*)
FROM
	USER_INFO
WHERE
	USER_EMAIL = #{userEmail}
</select>
	
<select id="businessNoCheck" resultType="int">
SELECT
	COUNT(*)
FROM
	BUSINESSNO
WHERE
	USER_BUSINESSNO = #{businessNo}
</select>

<select id="loginIn" resultMap="loginupMap">
SELECT
	USER_NO,
	USER_ID,
	USER_NAME,
	USER_PASSWORD,
	USER_TYPE
FROM
	USER_INFO
WHERE
	USER_ID = #{userId}
 </select>
    
<select id="findUserIdByEmail" resultType="String">
SELECT
	USER_ID
FROM
	USER_INFO
WHERE
	USER_EMAIL = #{userEmail}
</select>

<select id="findUserByEmail" resultMap="loginupMap"
    		resultType="kr.kro.bbanggil.user.member.dto.request.MemberRequestSignupDto">
SELECT
	*
FROM
	USER_INFO
WHERE
	USER_EMAIL = #{userEmail}
	AND user_name = #{userName}
	AND user_type IN ('owner', 'user')
</select>
    
<select id="findUserPassword" resultMap="loginupMap">
SELECT
	*
FROM
	user_info
WHERE
	user_id = #{userId}
	AND user_email = #{userEmail}
	AND user_type IN ('owner', 'user')
</select>

<update id="updatePassword">
UPDATE
	USER_INFO
SET
	USER_PASSWORD = #{userPassword}
WHERE
	USER_EMAIL = #{userEmail}

</update>
    
<select id="isBanned">
SELECT
	user_ban
FROM
	user_info
WHERE
	user_id =#{userId}
</select>

</mapper>