<!DOCTYPE html>
<html lang="ko">

<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
    <link rel="stylesheet" th:href="@{/css/owner/bakery/insert/insert.css}">
    <script src="/js/owner/bakery/insert/insert.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<header class="header" th:replace="~{fragments/header :: HeaderFragment}"></header>
     <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
	<form th:action="@{/bakery/insert}" method="Post" enctype="multipart/form-data">
    <div class="container">
        <!-- 이미지 슬라이더 -->
        <div class="slider-container">
            <div>
                <label for="imageInput" class="main-photo-upload">메인 사진</label>
                <input type="file" id="imageInput" data-preview-container="mainPreviewContainer" name="main" multiple style="display: none">
                <div id="mainPreviewContainer" class="preview-container main-preview">
			        <button class="nav-btn prev-btn" type="button">&#10094;</button>
			        <img class="preview-img" src="" alt="미리보기 이미지">
			        <button class="nav-btn next-btn" type="button">&#10095;</button>
			    </div>

            </div>
        </div>

        <!-- 헤더 섹션 -->
        <div class="header">
            <div class="header-container"> <!--flex 컨테이너 추가-->

                <div class="bakery-info">
                    <input type="text" class="bakery-name" name="bakeryName" id="bakeryName" placeholder="빵집 이름">
                    <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="info-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <input type="text" name="bakeryAddress" placeholder="주소">
                    </div>
                    <div class="info-item">
                        <i class="fas fa-clock"></i>
                        <span id="today-hours">영업시간 선택</span>
                        <button class="hours-toggle" type="button">더보기</button>
                        <div class="hours-detail" style="display: none;">
                       
                            <input type="radio" id="choose-date">
                            <label for="choose-date">날짜별</label>
                            <input type="radio" id="choose-day">
                            <label for="choose-day">평일,주말</label>
                            <div id="days-table" style="display: none;">
                            
                                <div class="hours-item">
                                    <span class="day">평일</span>
                                    <input type="text" class="time" name="timeDTO.weekday" id="weekday" placeholder="영업시간(00:00~00:00)"> 
                                </div>
                                <div class="hours-item">
                                    <span class="day">주말</span>
                                    <input type="text" class="time" name="timeDTO.weekend" placeholder="영업시간(00:00~00:00)">
                                </div>
                            </div>
                            <div id="date-table" style="display:none;">
                                <div class="hours-item">
                                    <span class="day">월요일</span>
                                    <input type="text" class="time" name="timeDTO.monday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">화요일</span>
                                    <input type="text" class="time" name="timeDTO.tuesday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">수요일</span>
                                    <input type="text" class="time" name="timeDTO.wednesday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">목요일</span>
                                    <input type="text" class="time" name="timeDTO.thursday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">금요일</span>
                                    <input type="text" class="time" name="timeDTO.friday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">토요일</span>
                                    <input type="text" class="time" name="timeDTO.saturday" placeholder="영업시간(00:00~00:00)">
                                </div>
                                <div class="hours-item">
                                    <span class="day">일요일</span>
                                    <input type="text" class="time" name="timeDTO.sunday" placeholder="영업시간(00:00~00:00)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-item">
                        <i class="fas fa-phone"></i>
                        <input type="text" name="bakeryPhone" placeholder="전화번호(-없이 숫자만입력)">
                    </div>
                    <div class="info-item">
                        <i class="fas fa-calendar"></i>
                        <input type="date" name="createdDate" placeholder="창립일or오픈일(선택)">
                    </div>
                </div>
            </div>
        </div>

        <!-- 메인 콘텐츠 -->
        <div class="main-content">
            <!-- 왼쪽 섹션 (메뉴/리뷰 탭) -->
            <div class="tabs">
                <div class="tab-buttons">
                    <button type="button" class="tab-button active" data-tab="menu">메뉴</button>
                    <button type="button" class="tab-button" data-tab="interior">실내</button>
                    <button type="button" class="tab-button" data-tab="exterior">실외</button>
                    <button type="button" class="tab-button" data-tab="parking">주차</button>
                </div>
                <!-- 메뉴 리스트 -->
                <div class="menu-list active" id="menu">
                    
                    <div class="menu-item">
                        <div></div>
                        <div class="update-menu">메뉴는 가게 등록 후에 추가 하실 수 있습니다.</div>
                    </div>
                </div>
                <!-- 실내 사진 섹션 -->
                <div class="interior-photos" id="interior" style="display: none;">
                    <h3 class="flex">
	                    <div>실내 전경</div>
	                    <label for="insideImage" class="photo-upload">사진 추가</label>
                    </h3>
                    
                    <input type="file" id="insideImage" name="inside" data-preview-container="insidePreviewContainer" multiple style="display: none">
                    <div id="insidePreviewContainer" class="preview-container preview">
				        <button class="nav-btn prev-btn" type="button">&#10094;</button>
				        <img class="preview-img img-size" src="" alt="미리보기 이미지">
				        <button class="nav-btn next-btn" type="button">&#10095;</button>
				    </div>
                    <div class="photo-description">
                        <textarea class="description" name="insideInfo" id="insideText" oninput="updateCharCount('insideText','insideDisplay')" placeholder="실내 환경에 대한 설명을 써주세요" maxlength="500"></textarea>
                        <p id="insideDisplay">0/500</p>
                    </div>
                </div>
                <!-- 실외 사진 섹션 -->
                <div class="exterior-photos" id="exterior" style="display: none;">
                    <h3 class="flex">
	                    <div>실외 전경</div>
	                    <label for="outsideImage" class="photo-upload">사진 추가</label>
                    </h3>
                    <input type="file" id="outsideImage" data-preview-container="outsidePreviewContainer" name="outside" multiple style="display: none">
                    <div id="outsidePreviewContainer" class="preview-container preview">
				        <button class="nav-btn prev-btn" type="button">&#10094;</button>
				        <img class="preview-img img-size" src="" alt="미리보기 이미지">
				        <button class="nav-btn next-btn" type="button">&#10095;</button>
				    </div>
                    <div class="photo-description">
                        <textarea class="description" name="outsideInfo" id="outsideText" oninput="updateCharCount('outsideText','outsideDisplay')" placeholder="실외 환경에 대한 설명을 써주세요" maxlength="500"></textarea>
                        <p id="outsideDisplay">0/500</p>
                    </div>
                </div>
                <!-- 주차 정보 섹션 -->
                <div class="parking-info" id="parking" style="display: none;">
                    <h3 class="flex">
                    	<div>주차 안내</div>
                        <label for="parking-image" class="photo-upload">사진 추가</label>                    
                    </h3>
                    <div class="parking-content">
                        <input type="file" id="parking-image" data-preview-container="parkingPreviewContainer" name="parking" multiple style="display: none">
                        <div id="parkingPreviewContainer" class="preview-container parking-container preview">
					        <button class="nav-btn prev-btn" type="button">&#10094;</button>
					        <img class="preview-img parking-preview" src="" alt="미리보기 이미지">
					        <button class="nav-btn next-btn" type="button">&#10095;</button>
					    </div>
                        <div class="parking-details">
                            <textarea class="parking-text" name="parkingInfo" id="parkingText" oninput="updateCharCount('parkingText','parkingDisplay')" placeholder="주차장 정보를 입력해주세요" maxlength="500"></textarea>
                            <p id="parkingDisplay" class="displays">0/500</p>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button class="submit-btn edit-btn" type="submit">제출</button>
                <button class="cancel-btn edit-btn">취소</button>
            </div>
        </div>
    </div>
	</form>
</body>

</html>