<!DOCTYPE html>
<html lang="ko">
<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
    <link rel="stylesheet" th:href="@{/css/register/business-loginup.css}">
    <!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <!-- 헤더 및 네비게이션 -->
    <header th:replace="~{fragments/header :: HeaderFragment}"></header>

    <!-- 네비게이션 메뉴 -->
    <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
<main>
    <form autocomplete="off" class="loginup-form" action="/member/businessloginup" method="post">
        <div class="loginup-container">
            <h2>회원가입 (사업자)</h2>
                <div class="form-group">
                    <div class="loginup-input-div">
                    <div class="loginup-id">
                        <label for="userid"></label>
                        <input class="loginup-input-id" type="text" placeholder="아이디"
                               id="userid" name="userId" required>
                        <button class="id-check-btn" type="button" id="id-check-btn">중복확인</button>
                    </div>
                    </div>
                    <div class="loginup-input-div">
                        <label for="password"></label>
                        <input class="loginup-input-first" type="password" placeholder="비밀번호"
                               id="password" name="userPassword" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="password-confirm"></label>
                        <input class="loginup-input-last" type="password" placeholder="비밀번호 확인"
                               style="border-top: 0px;" id="password-confirm" name="password-confirm" required>
                    </div>
                <div class="error-text" id="id-msg"></div>
                <div class="error-text" id="password-msg"></div>
                <div class="error-text" id="password-confirm-msg"></div>
                </div>
                <div class="form-group">
                    <div class="business-input-div">
                        <label for="business-number"></label>
                        <input class="business-number" type="text" placeholder="사업자번호(-없이)"
                               id="business-number" name="businessNoDto.businessNo" required>
                        <button type="button" class="business-btn" id="business-btn" onclick="corp_chk();">사업자번호<br>확인</button>
                    </div>
                    <div class="error-text" id="business-msg"></div>
                </div>
                <div class="form-group">
                    <div class="loginup-input-div">
                        <label style="margin-left: 3px;" for="birthdate">생년월일</label>
                        <input class="loginup-input-first" type="date" 
                               id="birthdate" name="userBirthDate" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="username"></label>
                        <input class="loginup-input" type="text" placeholder="이름"
                               id="username" name="userName" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="email"></label>
                        <input class="loginup-input" type="email" placeholder="이메일"
                               id="email" name="userEmail" required>
                    </div>
                    <div class="loginup-input-div">
                        <label for="phone"></label>
                        <input class="loginup-input-last" type="tel" placeholder="휴대폰번호 (-없이)"
                               maxlength="11" style="border-top: 0px;" id="phone" name="userPhoneNum" required>
                    </div>
                <div class="error-text" id="birthday-msg"></div>
                <div class="error-text" id="name-msg"></div>
                <div class="error-text" id="email-msg"></div>
                <div class="error-text" id="phone-msg"></div>
                </div>
                <input type="hidden" id="token" name="token">
                <div class="phone-btn-div">
                    <label for="phone-auth"></label>
                   	<input class="phone-auth" type="text" placeholder="인증번호를 입력해주세요"
	                           id="phone-auth" name="phone-auth" required>
                    <div class="error-text" id="phone-auth-msg"></div>
                <button id="phone-btn" class="phone-btn" type="button" onclick="sendSMS()">인증번호받기</button>
                <button id="check-btn" class="phone-btn" type="button" onclick="checkSMS()">인증번호확인</button>
                </div>
                <div class="loginup-btn-div">
                    <button class="loginup-btn" type="submit">가입하기</button>
                </div>
            </div>
            <div class="loginup-link">
                <a href="/member/loginup/form">일반회원가입하기</a>
            </div>
	</form>
</main>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/register/business-loginup.js"></script>
</body>
</html>