<!DOCTYPE html>
<html lang="en">

<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
	<script src="/js/owner/menu/update/update.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/owner/menu/update/update.css}">
</head>

<body>
    <form id="insertForm" th:action="@{/bakery/menu/update}" method="post" enctype="multipart/form-data" th:object="${menu}">
    	<input type="hidden" name="menuNo" th:value="${menuNo}">
    	<input type="hidden" name="bakeryNo" th:value="${bakeryNo}">
        <div id="mainPreviewContainer" class="preview-container main-preview">
			        <img class="preview-img" id="imagePreview" src="" alt="미리보기 이미지">
			    </div>
        <label for="imageUpload" class="menu-image">메뉴 추가</label>
        <input type="file" id="imageUpload" name="menuImage" style="display: none;" multiple accept="image/*">
        <div class="menu-info">
            <input type="text" id="menuName" th:field="*{menuName}" placeholder="메뉴명">
            <input type="text" id="menuPrice" th:field="*{menuPrice}" placeholder="가격">
            <select name="menuPopulity" id="menuPopulity" class="menu-populity">
                <option value="일반" th:selected="${menu.populity=='일반'}">일반</option>
                <option value="인기" th:selected="${menu.populity=='인기'}">인기</option>
            </select>
            <select name="menuCategory" id="menuCategory" class="menu-populity">
            	<option th:each="category : ${menu.menuCategory}" th:value="${category.categoryNo}" th:text="${category.category}"th:selected="${menu.category}"></option>
            </select>
        </div>
        <button class="add-to-menu" type="submit">메뉴 수정</button>
        
    </form>
</body>

</html>