<!DOCTYPE html>
<html>
<head>
	<head th:replace="~{fragments/head :: HeadFragment}"></head>
  	<link rel="stylesheet" th:href="@{/css/owner/mypage/mypage.css}">
    <script src="/js/owner/mypage/mypagee.js"></script>
</head>
<body>
     <header class="header" th:replace="~{fragments/header :: HeaderFragment}"></header>
     <nav th:replace="~{fragments/nav :: NavFragment}"></nav>
<main>
    <div class="mypage-container">
        <div class="mypage-title">
            <h1>마이페이지</h1>
            <p>안녕하세요, 사장님!🥖</p>
        </div>
        <div class="mypage-content">
            <div class="mypage-info">
                <h3>내 정보🥖</h3>
                <p>이름 <br> &nbsp; 🥐 &nbsp;이빵이</p>
                <p>이메일 <br> &nbsp; 🥐 &nbsp;asd123@naver.com</p>
                <p>핸드폰 <br> &nbsp; 🥐 &nbsp;010.1234.5678</p>
            <div class="mypage-menu">
                <a href="./edit.html">회원정보 수정 ✎</a>
                <!-- <a href="#">내가 쓴 리뷰 ✎</a> -->
            </div>
        </div>
            <div class="mypage-order">
                <p>🍞 가게내역 🍞</p>
                <table class="mypage-table">
                    <thead class="mypage-table-head">
                        <tr>
                            <td style="width: 5%;">번호</td>
                            <td style="width: 20%;">가게이름</td>
                            <!-- <td style="width: 30%;">메뉴</td> -->
                            <td style="width: 20%;">게시일</td>
                            <!-- <td style="width: 10%;">리뷰✎</td> -->
                            <td style="width: 20%;">일일 사용자수</td>
                            <td style="width: 10%;">승인여부</td>
                            <td style="width: 10%;" >주문목록</td>
                        </tr>
                    </thead>
                    <tbody class="mypage-table-body">
                        <tr class="tbody-tr" th:onclick="|location.href='@{/bakery/info/form(bakeryNo=${bakery.bakeryNo})}'|" th:each="bakery,iterStat :${bakeries}" th:data-bakery-no="${bakery.bakeryNo}">
                            <td th:text="${iterStat.index+1}"></td>
                            <td th:text="${bakery.bakeryName}"></td>
                            <td th:text="${bakery.createdDate}"></td>
                            <td>0</td>
                            <td th:text="${bakery.agree}"></td>
                            <td class="no-toggle"><button class="additional-btn no-toggle" th:onclick="|location.href='@{/pickup/list(bakeryNo=${bakery.bakeryNo})}'|">확인</button></td>
                        </tr>
                        
                    </tbody>
                </table>
                                <button class="additional-btn" type="button" th:onclick="|location.href='@{/bakery/insert/form}'|">신청</button>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
</html>