<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연간 매출</title>
    <link rel="stylesheet" href="./sales-by-year.css">
</head>
<body>
    <div class="container">
        <h1>연간 매출</h1>
        <label for="year-select">년도 선택:</label>
        <select id="year-select"></select>
        <table>
            <thead>
                <tr>
                    <th class="th-css">월</th>
                    <th class="th-css">매출액</th>
                </tr>
                <tr>
                    <th>1월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>2월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>3월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>4월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>5월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>6월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>7월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>8월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>9월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>10월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>11월</th>
                    <th>1,234,567</th>
                </tr>
                <tr>
                    <th>12월</th>
                    <th>1,234,567</th>
                </tr>
                

                <tr>
                    <th class="th-css">총 매출액</th>
                    <th class="th-css">123,456,789</th>
                </tr>
            </thead>
            <tbody id="sales-data">
                <!-- 월별 매출 데이터 표시 -->
            </tbody>
        </table>
    </div>

    <script src="./sales-by-year.js"></script>
</body>
</html>
