<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
						 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.kro.bbanggil.common.mapper.EmailMapper">

<resultMap id="EmailResultMap"
	type="kr.kro.bbanggil.user.bakery.dto.BakeryDto">
	<result property="no" column="bakery_no"></result>
	<result property="name" column="bakery_name"></result>
	<result property="latitude" column="latitude"></result>
	<result property="longitude" column="longitude"></result>
	<result property="region" column="region"></result>
	<result property="address" column="bakery_address"></result>
	<result property="phone" column="bakery_phone"></result>


	<association property="response"
		javaType="kr.kro.bbanggil.user.bakery.dto.response.BakeryResponseDto">

		<result property="reviewRating" column="review_rating"></result>

		<result property="createDate" column="created_date"></result>

		<result property="totalCount" column="bakery_count"></result>

		<result property="menuNo" column="menu_no"></result>
		<result property="menuName" column="menu_name"></result>
		<result property="menuPrice" column="menu_price"></result>
		<result property="menuInfo" column="menu_info"></result>
		<result property="categoryName" column="category_no"></result>
		<result property="category" column="category"></result>

		<result property="imgNo" column="img_no"></result>
		<result property="changeName" column="change_name"></result>
		<result property="resourcesPath" column="resources_path"></result>

		<result property="day" column="DAY"></result>
		<result property="openTime" column="open_time"></result>
		<result property="closeTime" column="close_time"></result>

	</association>

</resultMap>


<resultMap id="subscriberResultMap" type="kr.kro.bbanggil.common.dto.response.SubscriptionResponseDto">
    <result property="email" column="EMAIL" />
    <result property="subscribeDate" column="SUBSCRIBE_DATE" />
</resultMap>




<select id="getAllSubscriberEmails" resultType="String">

		SELECT user_email from user_info
		

</select>


<select id="getRandomBakery" resultMap="EmailResultMap">

SELECT
	bi.BAKERY_NAME,
	bi2.IMG_NO ,
	BI2.CHANGE_NAME ,
	BI2.RESOURCES_PATH,
	bs.OPEN_TIME ,
	bs.CLOSE_TIME
FROM
	BAKERY_INFO bi
JOIN BAKERY_IMAGE bi2 
        ON
	bi.BAKERY_NO = BI2.BAKERY_NO
JOIN BAKERY_SCHEDULE bs
        ON
	bs.BAKERY_NO = BI.BAKERY_NO
ORDER BY
	DBMS_RANDOM.VALUE
        FETCH FIRST 1 ROW ONLY


</select>


<select id="checkEmailExists" resultType="int">
    SELECT COUNT(*) FROM SUBSCRIBER WHERE EMAIL = #{email}
</select>

<update id="reactivateSubscription">
    UPDATE SUBSCRIBER
    SET SUBSCRIBE_YN = 'Y',
        SUBSCRIBE_DATE = SYSDATE
    WHERE EMAIL = #{email}
</update>

<insert id="insertSubscriber">
    INSERT INTO SUBSCRIBER (SUBSCRIBER_NO, EMAIL, SUBSCRIBE_YN, SUBSCRIBE_DATE)
    VALUES (SUBSCRIBER_SEQ.NEXTVAL, #{email}, 'Y', SYSDATE)
</insert>


<select id="selectAllSubscribers" resultMap="subscriberResultMap">
    SELECT 
        EMAIL, 
        TO_CHAR(SUBSCRIBE_DATE, 'YYYY-MM-DD') AS SUBSCRIBE_DATE
    FROM SUBSCRIBER
    WHERE SUBSCRIBE_YN = 'Y'
    ORDER BY SUBSCRIBE_DATE DESC
</select>

<insert id="insertSendLog">
    INSERT INTO NEWSLETTER_SEND_LOG (LOG_ID, EMAIL, SEND_STATUS)
    VALUES (NEWSLETTER_SEND_LOG_SEQ.NEXTVAL, #{email}, #{status})
</insert>

<select id="countTotalSends" resultType="int">
    SELECT COUNT(*) FROM NEWSLETTER_SEND_LOG
</select>

<select id="countSuccessfulSends" resultType="int">
    SELECT COUNT(*) FROM NEWSLETTER_SEND_LOG
    WHERE SEND_STATUS = 'SUCCESS'
</select>

<update id="unsubscribeEmail">
    UPDATE SUBSCRIBER
    SET SUBSCRIBE_YN = 'N'
    WHERE EMAIL = #{email}
</update>



<select id="getImageInfoByImgNo" resultType="map">
    SELECT CHANGE_NAME, RESOURCES_PATH
    FROM BAKERY_IMAGE
    WHERE IMG_NO = #{imgNo}
</select>



<insert id="insertNewsletterHistory">
  INSERT INTO NEWSLETTER_HISTORY (
    HISTORY_NO,
    BAKERY_NAME,
    RESOURCES_PATH,
    CHANGE_NAME,
    OPEN_TIME,
    CLOSE_TIME,
    LOCATION,
    SENT_DATE
  ) VALUES (
    SEQ_NEWSLETTER_HISTORY.NEXTVAL,
    #{bakeryName},
    #{resourcesPath},
    #{changeName},
    #{openTime},
    #{closeTime},
    #{location},
    SYSDATE
  )
</insert>










</mapper>
