body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 80%;
    height: 100%;
}

h1 {
    margin-bottom: 15px;
}

select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

.th-css {
    background-color: #3399ff;
    color: white;
}
